
.footer {
    color: rgb(255, 255, 255);
    position:relative;
    height: 200px;  
    width: 100%;
  }

  .footer .footer-content{
    height: 160px;
    display: flex;
    color:black;
    background-color: rgb(153, 122, 81);
    
  }
  .footer .footer-content .footer-section {
    flex: 1;
    padding: 100 px;
    border:1 px salmon;
    text-align: center;

  }

  .footer .footer-bottom {
    background-color: rgb(158, 54, 54);
    color: rgb(0, 0, 0);
    height: 40px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;


  }
  .page-wrapper{
      min-height: 100%;
  }
