

body {
  background-color: rgb(255, 241, 228);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(238, 218, 202);
  padding: 10px;
  box-shadow: 0 0 4px rgb(151, 13, 98);
  height: 100px;
  }

header li {
  display: inline;
  padding: 30px;
}

header li a {
  color: #333;
  text-decoration:none;
  padding: 25px;
  text-align:center;
  transition: .3s ease;
  
}

header li img {
  height: 80px;
  width: 145px;
  float: left;
  margin-top: -5px;
}

header ul #headerbox a {
  color: black;
  background-color: rgb(255, 241, 228);
  position: relative;
  top: 25px;
  right: 50px;
  transition: .3s ease;
  border: 2px solid rgb(151, 13, 98);



}

header ul #headerbox a:hover {
  background-color:rgba(155, 76, 125, 0.664);

}



footer {
  background-color:rgb(238, 218, 202);
  color: white;
  height: 180px; 
  margin-top: auto;
  position:relative;
  
   
}

.footer .footer-content{
  color:black;
  display: flex;
  height: 150px;
  box-shadow:0 0 4px rgb(151, 13, 98);
  

}
.footer .footer-content .footer-section {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.footer .footer-bottom {
  background-color:rgb(255, 241, 228);
  bottom: 0;
  color: rgb(0, 0, 0);
  height: 30px;
  left: 0;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
  border: 2px solid rgb(151, 13, 98);
}
  .page-wrapper{
      min-height: 100%;
      background-color: rgb(255, 241, 228);
      align-items: center;
      width: 100%;
      

  }
  .fa {
    font-size: 40px;
    padding: 15px; 
    text-align: center;
    text-decoration: none;
    width: 50px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }

  h3{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
 
  
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 220px;
    float: left;
    padding: 63px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 200px;
    height: 200px;
  }
  
  div.desc {
    padding: 50px;
    text-align: center;
  }
  h1{
    font-size: 3.6rem;
    font-weight:lighter;
    text-align: center;
    text-shadow: 3px 3px 3px #5e5d5d;
  }
   
  h2{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.7;
  }
  h3{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }

  .box{
    background-color: rgb(238, 218, 202);
    box-shadow: 3px 4px 20px #363636;
    height: 300px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50;
    margin-bottom: 50;
    padding: 2% 10% 2% 10%;
    
  }

 

