

body {
  background-color: rgb(255, 241, 228);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(238, 218, 202);
  padding: 10px;
  box-shadow: 0 0 4px rgb(197, 56, 87);
  height: 150px;
  }

header li {
  display: inline;
  padding: 30px;
}

header li a {
  color: #333;
  text-decoration:none;
  padding: 25px;
  text-align:center;
  transition: .3s ease;
  
}

header li img {
  height: 100px;
  width: 350px;
  float: left;
  margin-top: 10px;
}

header ul #headerbox a {
  color: black;
  background-color: rgb(255, 241, 228);
  position: relative;
  top: 50px;
  right: 50px;
  transition: .3s ease;
  border: 2px solid rgb(151, 13, 98);



}

header ul #headerbox a:hover {
  background-color:rgba(197, 56, 87, 0.548);

}



footer {
  background-color:rgb(238, 218, 202);
  color: white;
  height: 180px; 
  margin-top: auto;
  position:relative;
  
   
}

.footer .footer-content{
  color:black;
  display: flex;
  height: 150px;
  box-shadow:0 0 4px rgb(197, 56, 87);
  

}
.footer .footer-content .footer-section {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.footer .footer-bottom {
  background-color:rgb(255, 241, 228);
  bottom: 0;
  color: rgb(0, 0, 0);
  height: 30px;
  left: 0;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
  border: 2px solid rgb(151, 13, 98);
}
  .page-wrapper{
      min-height: 100%;
      background-color: rgb(255, 241, 228);
      align-items: center;
      width: 100%;
      

  }
  .fa {
    font-size: 40px;
    padding: 15px; 
    text-align: center;
    text-decoration: none;
    width: 50px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }

  h3{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: rgb(197, 56, 87);
  }
 
  

  h1{
    font-size: 3rem;
    font-weight:lighter;
    text-align: center;
    text-shadow: 2px 2px 2px #5e5d5d;
    letter-spacing: 5px;
  }
   
  h2{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.7;
  }
  

  .box{
    background-color: rgb(238, 218, 202);
    box-shadow: 3px 4px 20px #363636;
    height: 300px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50;
    margin-bottom: 50;
    padding: 2% 10% 2% 10%;
    
  }


  .text-box {
    font-size: 100px;
    font-family:sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }

  span{
    display:inline-block;
    font-weight: bold;
    animation: mover 6s linear infinite;
    color: rgba(151, 13, 98, 0.452);
  }


@keyframes mover{
  0%{
    text-shadow: 0 0 30px rgba(0,0,0,0);
  }
  50%{
    text-shadow: 0 0 30px rgba(0,0,0,0.30);
    transform: translateY(30px);
  }
  100%{
    text-shadow: 0 0 30px rgba(0,0,0,0);
  }
}

span:nth-child(1)
{
  animation-delay: 0.5s;
}
span:nth-child(2)
{
  animation-delay: 1s;
}
span:nth-child(3)
{
  animation-delay: 1.5s;
}
span:nth-child(4)
{
  animation-delay: 2s;
}
span:nth-child(5)
{
  animation-delay: 2.5s;
}
span:nth-child(6)
{
  animation-delay: 3s;
}
span:nth-child(7)
{
  animation-delay: 3.5s;
}
span:nth-child(8)
{
  animation-delay: 4s;
}
span:nth-child(9)
{
  animation-delay: 4.5s;
}

/* Three columns side by side */
.column {
  float: left;
  width: 22%;
  margin-bottom: 16px;
  padding: 13px;
}

.column2 {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 17px;
}



/* Some left and right padding inside the container */
.container {
  padding: 10px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(197, 56, 87);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: rgba(85, 85, 85, 0.11);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: auto;
  text-align: center;
  
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

img{
  height: 330px;
  width: 75px;
}

@media screen and (max-width:768px){
  .text-box {
    font-size: 45px;
    font-family:sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }

}